.editing_password{
    padding-top: 36px;
    .name{
        text-align: center;
    }
    p{
        margin-top: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-left: 5%;
        width: 90%;
        transition: 0.2s linear;
    }
    .none {
        color: #00000000;
        display: block !important;
    }
    div{
        margin-top: 16px;
        margin-left: 10%;
        text-align: center;
        width: 80%;
        background-color: #421094;
        cursor: pointer;
        color: #ffffff;
        border-radius: 10px;
        padding: 10px;
        font-weight: 500;
        font-size: 18px;
    }
}