.help{
    padding-top: 36px;
    img{
        margin-left: 5%;
    }
    h1{
        color: black;
        font-weight: 700;
        font-size: 24px;
        position: absolute;
        text-align: center;
        width: 375px;
        top: 30px;
    }
    h2{
        margin-top: 44px;
        margin-left: 5%;
    }
    .fast{
        padding: 5%;
        border-bottom: #00000010 1px solid;
        p{
            font-weight: 500;
            width: 60%;
        }
        img{
            margin-top: -15px;
            position: absolute;
            right: 5%;
            transform: rotate(-90deg);
            transition: 0.2s linear;
        }
        .img_on{
            transform: rotate(90deg)
        }
        h3{
            width: 300px;
            transition: 0.15s linear;
            color: #757575;
            font-size: 14px;
            font-weight: 400;
            margin-top: 10px;
        }
        .none{
            margin-top: -50px;
            display: block !important;
            position: absolute;
            color: rgba(0, 0, 0, 0);
        }
    }
}